<div class="card">
    <h1 class="title">Welcome, Add your files here!</h1>
    <%= render 'form' %>

    <h1 class="gallery-title">Image gallery</h1>
    <div class="images">
      <div class="row">
        <% unless @images.blank? %>
          <%= render @images %>
        <% end %>
      </div>

    </div>
</div>
